# Pandas

In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
reviews = pd.read_csv('../data/winemag-data-130k-v2.csv', index_col=0)
pd.set_option("display.max_rows", 5)
pd.set_option('display.max_columns', 100) 
#this is used to display the number of rows and columns for each output
#this line of code will only return 5 results and to a max of 100 columns for each execution

## Creating, Reading and writing
**Kaggle Learn Pandas 1**

In [1]:
import pandas as pd

A pandas series is collection of data and it can have a name. It also can have name for each row.
The name of the series is same as the column name in a DataFrame. (see below)

In [2]:
pd.Series([2000,2500,'4600'], index=['JanSale', 'FebSale', 'MarchSale'], name='Sarees')

JanSale      2000
FebSale      2500
MarchSale    4600
Name: Sarees, dtype: object

Pandas DataFrame is nothing but collection of multiple series of data. The dataframe can be defined as a dictionary of labeled list and the indexes can be added as the list. The labels are the names of each series(columns) where as the indexes are the names for each row.
The labels are names of individual series in a DataFrame.

In [3]:
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]}, index=['Item 1', 'Item 2', 'Item 3'])
df

        A  B
Item 1  1  4
Item 2  2  5
Item 3  3  6

A series in a dataframe can be accessed using the name e.g. df.A or df['A']

## Indexing, Selecting Assigning Reference

## Summary Functions and Maps

## Pandas Grouping and Sorting

### groupby

df.groupby('colname') -> can be used to group the dataset based on unique values in the column mentioned in groupby function.

In [66]:
reviews.groupby('country').country.count()

country
Argentina    3800
Armenia         2
             ...
Ukraine        14
Uruguay       109
Name: country, Length: 43, dtype: int64

Once we have the group we can think of executing the group wise operation/summary operation. e.g. min, max, mean, median, total etc of each group.

In [78]:
reviews.groupby('country').price.mean()

country
Argentina    24.510117
Armenia      14.500000
               ...
Ukraine       9.214286
Uruguay      26.403670
Name: price, Length: 43, dtype: float64

Now once we have grouped the dataset we can think each group as a separate dataset and we can operate on each of the datasets individually.

In [67]:
reviews.groupby('winery').apply(lambda df: len(df))

winery
1+1=3        6
10 Knots     4
            ..
àMaurice    40
Štoka        3
Length: 16757, dtype: int64

In [68]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])
#here loc wont work as the loc takes specific index name and index for each group is not 0

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

For each country and province if we want we can find the winery which has max/min points. (Price cannot be used as it has NaN)

In [81]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[int(df.points.idxmax())])
#the argmax/idxmax function returns the index from original dataset and if we send it to iloc which is local/individual dataset indexer
#it will not be able to find all the indexes for all the groups. Therefore we need to use loc to handle the indexes referenced at
# main dataset.
#argmax/idxmax returns the main dataset index because the local indexes are not real but virtual.

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                          designation  points  price  \
country   province
Argentina Mendoza Province           Nicasia Vineyard      97  120.0
          Other                               Reserva      95   90.0
...                                               ...     ...    ...
Uruguay   San Jose           El Preciado Gran Reserva      87   50.0
          Uruguay           Blend 002 Limited Edition      91   22.0

                                    province region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN
          Other                        Other    Salta      NaN
...                                      ...      ...      ...
Uruguay   San Jose                  San Jose      NaN      NaN
          Uruguay                    Uruguay      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
...                                       ...                   ...
Uruguay   San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
...                                           ...                   ...
Uruguay   San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

With groupby we can use agg to collect the statistical data in one go.

In [70]:
def median(df):
    sum(df)/len(df)
reviews.groupby('country').price.agg([len, min, max])

              len   min    max
country
Argentina  3800.0   4.0  230.0
Armenia       2.0  14.0   15.0
...           ...   ...    ...
Ukraine      14.0   6.0   13.0
Uruguay     109.0  10.0  130.0

[43 rows x 3 columns]

In [71]:
reviews.groupby('country').count()
#the above piece of code gives a total true data of each column for each country i.e. ignoring NaN/Null etc.

,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
country,,,,,,,,,,,,
Argentina,3800,2902,3800,3756,3800,3747,0,3797,3797,3800,3800,3800
Armenia,2,2,2,2,2,0,0,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
Ukraine,14,12,14,14,14,0,0,14,12,14,14,14
Uruguay,109,95,109,109,109,0,0,109,109,109,109,109

### MultiIndex

When we execute the groupby method we get a complex datatable which is multiindexed data and to fetch each column its kind of difficult. But we can use **reset_index()** to deal with such problems. But reset_index() might not work if the groupby column is present in the columns aswell.

In [94]:
group_mi = reviews.groupby(['country', 'province']).price.agg([len, min, max])
group_mi = group_mi.reset_index()
group_mi

       country          province     len   min    max
0    Argentina  Mendoza Province  3264.0   4.0  230.0
1    Argentina             Other   536.0   7.0  150.0
..         ...               ...     ...   ...    ...
423    Uruguay          San Jose     3.0  20.0   50.0
424    Uruguay           Uruguay    24.0  12.0   50.0

[425 rows x 5 columns]

### Sorting

The dataframe can be sorted with one of the columns using **sort_values()** and by default it is sorted in ascending order.

In [97]:
group_mi.sort_values(by=['len', 'max'], ascending=False)

          country         province      len  min     max
392            US       California  36247.0  4.0  2013.0
415            US       Washington   8639.0  6.0   240.0
..            ...              ...      ...  ...     ...
335  South Africa    Ceres Plateau      1.0  NaN     NaN
357  South Africa  Piekenierskloof      1.0  NaN     NaN

[425 rows x 5 columns]

If we want we can sort the dataframe with index aswell using **sort_index()** function.

## Data Types and Missing Data

### Data Types

Dataframe, series, array, lists, tuples etc are data structures to hold data of some type. These are basically int, float string and boolean.

In a dataframe/series it is provided as a property as **'dtype'/'dtypes'**. 
'type()' function will give datatype of the object passed to it.

df.col.astype('float64') -> this converts the datatype.
Usually for dataframes any thing stored as string is object type rather than string or character type.

Pandas also support categorical and timeseries data types as well.

### Missing Data

The missing data in dataframes are represented using NaN - not a number.
This is useful when we dont know whats the value and 0 or other numbers are not suitable to represent them. So obviously NaN is not same as 0 or any other number. This is different data altogether and its datatype is float64.

df.isnull() or df.notnull() can be used to check if any NaN is present in the series or in the dataframe. These methods return a boolean series/dataframe.

In [122]:
print(reviews.isnull())
print(reviews.isnull().sum()) # for each column how many nulls are there. By default axis is 0.
print(reviews.isnull().sum(axis=1)) # For each row how many nulls are there

        country  description  designation  points  price  province  region_1  \
0         False        False        False   False   True     False     False
1         False        False        False   False  False     False      True
...         ...          ...          ...     ...    ...       ...       ...
129969    False        False         True   False  False     False     False
129970    False        False        False   False  False     False     False

        region_2  taster_name  taster_twitter_handle  title  variety  winery
0           True        False                  False  False    False   False
1           True        False                  False  False    False   False
...          ...          ...                    ...    ...      ...     ...
129969      True        False                  False  False    False   False
129970      True        False                  False  False    False   False

[129971 rows x 13 columns]
country        63
description     0
               ..
variety         1
winery          0
Length: 13, dtype: int64
0         2
1         2
         ..
129969    2
129970    1
Length: 129971, dtype: int64

In [107]:
print(reviews.price.isnull().sum(), reviews.price.notnull().sum(), len(reviews))

8996 120975 129971

From above example we can see that the isnull and notnull are complementarty and the methods can be applied to series as well as the dataframes.

The missing values can be replaced using fillna('value')

In [109]:
reviews.price.fillna(0.1) # whereever the value is NaN it will be replaced with 0.1

0          0.1
1         15.0
          ...
129969    32.0
129970    21.0
Name: price, Length: 129971, dtype: float64

In [120]:
reviews.fillna(method='ffill')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Etna,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",Kritt,90,32.0,Alsace,Alsace,Oregon Other,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,Oregon Other,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

With fillna we can use 'method' with values {'backfill', 'bfill', 'pad', 'ffill', None}, 
default None

    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use NEXT valid observation to fill gap

There are other ways also to fill the values like fill the values for each column with specific values by passing a dictionary of column and value to the fillna function.

In a timeseries data it is easy/safe to fill the data using ffill.

To update duplicates with different names with a common name we can use replace. e.g. Bangalore, bengaluru, bangl're etc can be replaced with Bangalore only. But we have to replace all separately.
e.g. df.city.replace('bengaluru', 'Bangalore') and again df.city.replace('bangl're', 'Bangalore') etc.

## Renaming and Combining Data

### Renaming

Dataframe/Series renaming can be done using rename function provided by the dataframe/series object.

eg. 
df.rename({'col1':'newcol1', 'col2':'newcol2',..,'coln':'newcoln'}, axis='columns') - to rename the columns
df.rename({'row1':'newrow1', 'row2':'newrow2',..,'rown':'newrown'}, axis='index') - to rename the indexes

both can be renamed at once 
df.rename(columns={'one': 'foo', 'two': 'bar'},
          index={'a': 'apple', 'b': 'banana', 'd': 'durian'})

rename_axis() can be used to give the row and columns some specific name. e.g
df.rename_axis('abc', axis='rows').rename_axis('xyz', axis='columns')
This allows the rows to be called as 'abc' and columns to be called as 'xyz'.
The usage seems to be just for presentation.

To rename the indexes set_index is suitable where as for columns function 'rename' works fine function would work fine.

### Combining

For combining dataframes concat, join and merge methods are used.

Merge is just an extension of join. But much easier to use.

**pd.concat** is used when we have two different dataset but with same fields. 
pd.concat can be used to merge the dataframe rowwise using axis=1 in concat function.
join_axes can also be mentioned to use as primary key

join can be used when there are different datasets but they have atleast one common column to match. If the column names are same use lsuffix and rsuffix.

df1.append([df2, df3.., dfn]) - can be used the same way as concat.
In the concat or append process if any column is not present then it would be assigned as NaN.
append method doesn't chagne anything in dataframe but generate new dataframe.

## Method Chaining

 ***Download Data from kaggle unzip it and delete the zip file***

In [18]:
!kaggle datasets download jpmiller/publicassistance -f sub-est2016_all.csv -p ../data/ --unzip

sub-est2016_all.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [19]:
!unzip ../data/sub-est2016_all.csv.zip -d ../data

Archive:  ../data/sub-est2016_all.csv.zip
  inflating: ../data/sub-est2016_all.csv

In [ ]:
!rm ../data/sub-est2016_all.csv.zip

### Kaggle commands and its usages

kaggle competitions {list,files,download,submit,submissions,leaderboard}
kaggle datasets {list, files, download, create, version, init}
kaggle kernels {list, init, push, pull, output, status}
kaggle config {view, set, unset}